*.o
*.a
*.so
include/boost
vsvr
vwin
zsvr
zgen
zlab
ztdb
ControlLink
HostVM
RpcDemo
TaiJiMPC

# 忽略所有一级目录
/*/

# 允许 bin, include, lib 目录
!bin/
!include/
!lib/
!libsrc/

# 忽略 bin, include, lib 目录下的空子目录
bin/*
include/*
lib/*
libsrc/*
libsrc/libcoin
libsrc/libidh
libsrc/libslot
libsrc/libubeda
libsrc/libzce
libsrc/libzdl

# 允许 bin, include, lib 目录下的所有文件
!bin/**
!include/**
!lib/**
!libsrc/**

