# 忽略所有内容
/*
# 允许根目录下的所有文件（不包括文件夹）
!/*.*
.vscode/*
!.vscode/settings.json
!.vscode/launch.json
!.vscode/tasks.json

# 取消忽略特定文件夹
!bin/
!include/
!lib/
!libsrc/

bin/*
include/boost/*
lib/*
libsrc/*
libsrc/libcoin
libsrc/libidh
libsrc/libslot
libsrc/libubeda
libsrc/libzce
libsrc/libzdl

.vscode/*
!.vscode/settings.json
!.vscode/launch.json
!.vscode/tasks.json



