# 忽略所有内容
/*
# 允许根目录下的所有文件（不包括文件夹）
!/*.*
.vscode/*
!.vscode/settings.json
!.vscode/launch.json
!.vscode/tasks.json

# 取消忽略特定文件夹
!bin/
!include/
!lib/
!libsrc/

bin/*
include/boost/*
lib/*
libsrc/*
!libsrc/lexilla
!libsrc/libhiredis
!libsrc/libjson
!libsrc/liblua
!libsrc/libpbc
!libsrc/libzlib
!libsrc/scintilla

.vscode/*
!.vscode/settings.json
!.vscode/launch.json
!.vscode/tasks.json



